<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.u2apple.tool.mappers.AndroidDeviceMapper">
    <resultMap id="androidDeviceRankingResultMap" type="AndroidDeviceRanking">
        <result property="vid" column="vid"/>
        <result property="roProductModel" column="ro_product_model"/>
        <result property="roProductBrand" column="ro_product_brand"/>
        <result property="productId" column="product_id"/>
        <result property="cpuHardware" column="cpu_hardware"/>
        <result property="count" column="count"/>
    </resultMap>
    
    <select id="selectUnidentifiedDevices" parameterType="map" resultMap="androidDeviceRankingResultMap">
        select vid, ro_product_model, ro_product_brand, count(*) as count from ${table} where created_at > #{start} and identified='0' and ro_product_model is not null and ro_product_model != '' and ro_product_brand is not null and ro_product_brand != ''  group by vid, ro_product_model,ro_product_brand order by count desc
    </select>
    
    <select id="listModelWithRanking" parameterType="map" resultMap="androidDeviceRankingResultMap">
        select vid,return_product_id as product_id,ro_product_model,ro_product_brand, count(*) as count from ${table} where created_at > #{start} and return_product_id !='' and return_product_id  != 'android-device' and return_product_id not like '%emulator' and ro_product_model !='' group by vid,ro_product_model,ro_product_brand,product_id order by product_id, count desc
    </select>
    
    <select id="listCpu" parameterType="map" resultMap="androidDeviceRankingResultMap">
        select cpu_hardware,return_product_id as product_id, count(*) as count from ${table} where created_at > #{start} and return_product_id != '' and return_product_id !='android-device'  and return_product_id not like '%emulator' and cpu_hardware!='' group by return_product_id, cpu_hardware order by product_id
    </select>

</mapper>