<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.u2apple.tool.mappers.AndroidDeviceMapper">
    <resultMap id="androidDeviceRankingResultMap" type="AndroidDeviceRanking">
        <result property="vid" column="vid"/>
        <result property="roProductModel" column="ro_product_model"/>
        <result property="roProductBrand" column="ro_product_brand"/>
        <result property="count" column="count"/>
    </resultMap>
    
    <select id="selectCount" resultType="int">
        select count(*) from log_device_init_201509
    </select>
    
    <select id="selectUnidentifiedDevices" parameterType="int" resultMap="androidDeviceRankingResultMap">
        select vid, ro_product_model, ro_product_brand, count(*) as count from log_device_init_201509 where created_at > subdate(curdate(), #{days}) and identified='0' and ro_product_model is not null and ro_product_model != '' and ro_product_brand is not null and ro_product_brand != ''  group by vid, ro_product_model,ro_product_brand order by count desc limit 1000
    </select>
    
</mapper>